.container {
    padding: 0 8px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
    margin-bottom: 8px;
}

.link, .copyright {
    color: var(--gray-5);
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    margin: 5px 6px 0 0;
    line-height: 17px;
}

.link:hover {
    text-decoration: underline;
}