.card {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    width: max-content;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    padding: 8px 0;
    display: none;
    opacity: 0;
    transition: all .3s;
}

.card::before {
    content: '';
    position: absolute;
    right: 6px;
    bottom: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.item {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.item svg {
    font-size: 20px !important;
}

.item:hover {
    background-color: var(--gray-1);
}

.divider {
    width: 100%;
    border-top: 1px solid var(--gray-2);
}