.container {
    flex: 0 0 auto;
    background-color: #fff;
    margin: 0px 30px;
    padding: 21px 0px;
}

.login-button {
    cursor: pointer;
    color: var(--main);
    font-weight: 600;
    height: 100%;
    background: rgb(248, 248, 248);
    border-radius: 2px;
    padding: 14px 16px;
    font-size: 16px;
}

.my-comment-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 8px;
    border-radius: 8px;
    background-color: var(--gray-1);
}

.input-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin: 8px 0;
}

.input-container textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    display: block;
}

.count {
    font-size: 14px;
    margin-top: 8px;
    color: var(--gray-4);
}

.icon-button {
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s;
}

.icon-button:hover {
    background-color: var(--gray-2);
}

.mention-icon:hover::before {
    content: 'Dùng ký hiệu "@" để gắn thẻ một người dùng trong bình luận của bạn';
    position: absolute;
    left: -102px;
    bottom: 100%;
    right: -102px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #666666;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.emoji-icon:hover::before {
    content: 'Nhấp để thêm emoji';
    position: absolute;
    left: -60px;
    bottom: 100%;
    right: -60px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #666666;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.mention-icon:hover::after,
.emoji-icon:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid #666666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.submit-button-container {
    display: flex;
    flex: 0 0 48px;
    height: 40px;
    justify-content: flex-end;
}

.submit-button {
    border: none;
    outline: none;
}

.submit-button-active {
    cursor: pointer;
    color: var(--main);
}

.submit-button-disabled {
    cursor: default;
    color: var(--gray-4);
}