.container {
    margin-bottom: 16px;
}

.comment-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
}

.comment-text {
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    word-break: break-word;
    margin-bottom: 6px;
}

.sub-content-container {
    color: var(--gray-5);
    font-size: 14px;
    line-height: 20px;
}

.reply-button {
    cursor: pointer;
    color: var(--gray-5);
    font-weight: 400;
    margin-left: 24px;
}

.action-container {
    margin-left: 18px;
    padding-right: 2px;
    width: 24px;
    flex: 0 0 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.like-button-wrapper {
    color: var(--gray-5);
    font-size: 14px;
    line-height: 17px;
    width: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.like-button-wrapper svg {
    font-size: 16px;
}

.comment-count {
    font-size: 12px;
    line-height: 17px;
}

.reply-container {
    padding-left: 52px;
}