.container {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
    max-width: 624px;
    padding-right: 92px;
}

.follow-button-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.count-info-container {
    display: flex;
    align-items: center;
    margin-top: 22px;
    gap: 20px;
}

.number-wrapper {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    line-height: 25px;
}

.span-unit {
    font-weight: 400;
    font-size: 16px;
    margin-left: 6px;
}

.description-container {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    margin-top: 10px;
}